In [4]:
import pandas as pd

In [5]:
data = [1,2,3,4,5,6,7,8,9,11]
index = [1,2,3,4,5,6,7,8,9,11]
series = pd.Series(data , index=index)
print("SeriesBySatya:\n",series)

SeriesBySatya:
 1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
11    11
dtype: int64

In [6]:
df = pd.DataFrame([[1,2,3] , [4,5,6] , [7,8,9]] , columns=['A','B','C'] , index=['I1','I2','I3'])

print(df,)

    A  B  C
I1  1  2  3
I2  4  5  6
I3  7  8  9

In [7]:
# EXPORTING DATA INTO MULTIPLE FILE FORMAT 
data = {
    "Gender": ["Female", "Female", "Male", "Male"],
    "Age": [21, 21, 23, 27],
    "Height": [1.62, 1.52, 1.80, 1.80],
    "Weight": [64, 56, 77, 87],
    "Obesity": ["Normal_Weight", "Normal_Weight", "Normal_Weight", "Overweight_Level_I"]
}

In [8]:
df = pd.DataFrame(data)
print("Printing original dataframe: ", df)

Printing original dataframe:     Gender  Age  Height  Weight             Obesity
0  Female   21    1.62      64       Normal_Weight
1  Female   21    1.52      56       Normal_Weight
2    Male   23    1.80      77       Normal_Weight
3    Male   27    1.80      87  Overweight_Level_I

In [9]:
# ---------------------------
# Export into Multiple Formats
# ---------------------------

# 1. CSV
df.to_csv("file.csv", index=False)
print("\n✅ Data saved as file.csv")

✅ Data saved as file.csv

In [10]:
# pip install pyarrow 
# 2. Parquet (requires pyarrow or fastparquet installed)
# df.to_parquet("file.parquet", engine="pyarrow")
df.to_parquet("file.parquet", engine="fastparquet", index=False)

print("✅ Data saved as file.parquet")

✅ Data saved as file.parquet

In [11]:

# 3. Feather (requires pyarrow installed)
df.to_feather("file.feather")
print("✅ Data saved as file.feather")

✅ Data saved as file.feather

In [12]:
# ---------------------------
# Reading Back the Files
# ---------------------------
print("\nReading back the files:\n")

# Read CSV
csv_df = pd.read_csv("file.csv")
print("CSV:\n", csv_df, "\n")

# Read Parquet
# parquet_df = pd.read_parquet("file.parquet")
# print("Parquet:\n", parquet_df, "\n")

# Read Feather
# feather_df = pd.read_feather("file.feather")
# print("Feather:\n", feather_df, "\n")

Reading back the files:

CSV:
    Gender  Age  Height  Weight             Obesity
0  Female   21    1.62      64       Normal_Weight
1  Female   21    1.52      56       Normal_Weight
2    Male   23    1.80      77       Normal_Weight
3    Male   27    1.80      87  Overweight_Level_I

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Gender   4 non-null      object
 1   Age      4 non-null      int64
 2   Height   4 non-null      float64
 3   Weight   4 non-null      int64
 4   Obesity  4 non-null      object
dtypes: float64(1), int64(2), object(2)
memory usage: 292.0+ bytes

In [14]:
df.describe()

             Age    Height     Weight
count   4.000000  4.000000   4.000000
mean   23.000000  1.685000  71.000000
std     2.828427  0.138924  13.735599
min    21.000000  1.520000  56.000000
25%    21.000000  1.595000  62.000000
50%    22.000000  1.710000  70.500000
75%    24.000000  1.800000  79.500000
max    27.000000  1.800000  87.000000

In [15]:
df.Age

0    21
1    21
2    23
3    27
Name: Age, dtype: int64

In [16]:
print(df)

   Gender  Age  Height  Weight             Obesity
0  Female   21    1.62      64       Normal_Weight
1  Female   21    1.52      56       Normal_Weight
2    Male   23    1.80      77       Normal_Weight
3    Male   27    1.80      87  Overweight_Level_I