In [1]:
import pandas as pd

In [2]:
print("this is new to learn here. ")

this is new to learn here.

In [3]:
obesityDataSet = pd.read_csv("./obesity_prediction.csv")

In [4]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [5]:
obesityDataSet.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [9]:
obesityDataSet.head(4)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I

In [10]:
obesityDataSet.tail(11)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [13]:
obesityDataSet.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
449,Female,18.0,1.63,63.0,yes,yes,1.0,3.0,Sometimes,no,2.0,no,2.0,2.0,Sometimes,Public_Transportation,Normal_Weight

In [16]:
obesityDataSet.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1253,Male,23.000000,1.753716,106.491410,yes,yes,2.740633,3.000000,Sometimes,no,2.081005,no,0.650235,0.769060,Sometimes,Public_Transportation,Obesity_Type_I
1790,Male,23.147644,1.815514,120.337664,yes,yes,2.996717,2.791366,Sometimes,no,2.626309,no,1.194898,0.034897,Sometimes,Public_Transportation,Obesity_Type_II
230,Male,20.000000,1.900000,91.000000,yes,yes,3.000000,4.000000,Sometimes,no,3.000000,no,2.000000,0.000000,Sometimes,Walking,Overweight_Level_I
785,Female,16.172992,1.603842,65.000000,yes,yes,2.543563,1.000000,Sometimes,no,2.000000,yes,0.694281,1.056911,Sometimes,Public_Transportation,Overweight_Level_I
385,Female,16.000000,1.550000,45.000000,no,yes,2.000000,3.000000,Frequently,no,2.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight

In [ ]:
obesityDataSet.sample(11, random_state=11)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
22,Female,22.000000,1.650000,60.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Automobile,Normal_Weight
1405,Male,23.324710,1.769484,96.078462,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,2.000000,no,Public_Transportation,Obesity_Type_I
932,Male,22.828435,1.710415,75.142858,yes,yes,2.786008,3.000000,Sometimes,no,2.526193,no,0.925118,2.000000,Sometimes,Public_Transportation,Overweight_Level_I
501,Female,21.853826,1.755643,137.796884,yes,yes,3.000000,3.000000,Sometimes,no,2.184707,no,1.978631,0.838957,Sometimes,Public_Transportation,Obesity_Type_III
1097,Female,34.044229,1.665807,77.098973,yes,yes,2.976975,1.346987,Sometimes,no,1.868349,no,0.702538,0.879333,no,Automobile,Overweight_Level_II
1197,Male,33.151905,1.685127,83.986895,yes,yes,2.000000,2.473911,Sometimes,no,2.452789,no,0.932792,0.000000,no,Automobile,Overweight_Level_II
896,Male,21.008290,1.621412,70.000000,no,yes,2.000000,1.000000,no,no,2.795651,no,0.808730,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1256,Male,18.000000,1.791174,108.960600,yes,yes,2.000000,1.086870,Sometimes,no,2.279124,no,1.000000,1.609773,no,Public_Transportation,Obesity_Type_I
819,Male,23.170309,1.707557,75.306702,yes,yes,2.303367,3.042774,Sometimes,no,1.277636,no,0.944982,0.366126,Sometimes,Public_Transportation,Overweight_Level_I
1522,Male,28.363149,1.793476,112.725005,yes,yes,1.991240,3.000000,Sometimes,no,2.000000,no,0.000000,0.292956,Sometimes,Public_Transportation,Obesity_Type_II
1365,Female,18.011903,1.650000,84.210535,yes,yes,2.859160,3.000000,Sometimes,no,1.000000,no,1.020525,0.786066,no,Public_Transportation,Obesity_Type_I

In [19]:
obesityDataSet.sample(11 , random_state=10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2054,Female,21.008297,1.723587,131.929712,yes,yes,3.000000,3.000000,Sometimes,no,1.683448,no,1.645532,0.858059,Sometimes,Public_Transportation,Obesity_Type_III
1152,Male,22.988004,1.808270,91.363293,yes,yes,1.963965,1.836226,Sometimes,no,1.855370,no,0.000000,1.667745,Sometimes,Public_Transportation,Overweight_Level_II
1883,Female,26.000000,1.631332,111.829957,yes,yes,3.000000,3.000000,Sometimes,no,2.559750,no,0.000000,0.237307,Sometimes,Public_Transportation,Obesity_Type_III
248,Male,21.000000,1.720000,72.000000,yes,yes,3.000000,3.000000,Always,no,3.000000,yes,3.000000,0.000000,Sometimes,Automobile,Normal_Weight
375,Male,41.000000,1.800000,92.000000,yes,yes,2.000000,1.000000,Frequently,no,3.000000,no,1.000000,0.000000,Sometimes,Automobile,Overweight_Level_II
589,Female,19.948140,1.530884,39.371523,no,yes,1.522001,3.000000,Sometimes,no,1.981260,no,2.306844,0.720454,Sometimes,Public_Transportation,Insufficient_Weight
1373,Male,26.032416,1.824432,105.131956,yes,yes,3.000000,3.000000,Sometimes,no,2.110611,no,1.890907,1.584830,Sometimes,Public_Transportation,Obesity_Type_I
370,Male,19.000000,1.800000,60.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
145,Male,21.000000,1.620000,70.000000,no,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1703,Male,22.580038,1.849507,121.560938,yes,yes,3.000000,2.272801,Sometimes,no,1.560064,no,0.796770,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
1455,Female,18.000000,1.692242,90.019501,yes,yes,2.642744,3.000000,Sometimes,no,1.904054,no,1.645654,0.363549,Sometimes,Public_Transportation,Obesity_Type_I

In [20]:
obesityDataSet.sample(3 , random_state=299)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1133,Male,34.098174,1.841151,91.798103,yes,yes,2.0,2.997414,Sometimes,no,1.259454,no,0.935217,0.997600,Sometimes,Automobile,Overweight_Level_II
839,Male,19.789291,1.820643,85.000000,yes,yes,3.0,3.000000,Sometimes,no,2.759246,no,1.763277,0.453314,Sometimes,Public_Transportation,Overweight_Level_I
657,Female,19.052833,1.546551,42.069992,no,yes,3.0,1.735493,Sometimes,no,2.318736,no,1.193486,0.745680,no,Public_Transportation,Insufficient_Weight

In [21]:
obesityDataSet.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [25]:
obesityDataSet.columns.to_list()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [26]:
obesityDataSet.index

RangeIndex(start=0, stop=2111, step=1)

In [27]:
list(obesityDataSet.index)

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [28]:
# for getting no of rows n no of cols  
obesityDataSet.shape

(2111, 17)

In [151]:
# update data 

# checking data at location n update it  later 
obesityDataSet.loc[1,'Age']

np.float64(21.0)

In [152]:
obesityDataSet.loc[1,'Age'] = "Adding Updated String at the position of int"

C:\Users\satyansh pandey\AppData\Local\Temp\ipykernel_16764\2807611631.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Adding Updated String at the position of int' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  obesityDataSet.loc[1,'Age'] = "Adding Updated String at the position of int"

In [153]:
# printing or accessig updated data from csv 
obesityDataSet.loc[1,'Age']

'Adding Updated String at the position of int'

In [154]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,Adding Updated String at the position of int,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [155]:
# again updating and making it into int 
obesityDataSet.loc[1,'Age'] = 1000

In [156]:
# again checking after update 
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,1000,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [160]:
obesityDataSet.loc[: , 'SMOKE']='Yes'

In [165]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Smoke
0,Female,21.0,99.00,64.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Yes
1,Female,1000,1.52,56.0,yes,no,3.0,3.0,Sometimes,Yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Yes
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Yes
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Yes
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Yes

In [162]:
obesityDataSet.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Smoke
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,Yes,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Yes
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,Yes,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Yes
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,Yes,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Yes
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,Yes,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Yes
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,Yes,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Yes

In [163]:
obesityDataSet.loc[0 , 'Height'] = 99

In [164]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Smoke
0,Female,21.0,99.00,64.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Yes
1,Female,1000,1.52,56.0,yes,no,3.0,3.0,Sometimes,Yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Yes
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,Yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Yes
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,Yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Yes
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Yes