In [107]:
import pandas as pd

In [108]:
print("this is new to learn here. ")

this is new to learn here.

In [109]:
obesityDataSet = pd.read_csv("./obesity_prediction.csv")

In [110]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [111]:
obesityDataSet.tail()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [112]:
obesityDataSet.head(4)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I

In [113]:
obesityDataSet.tail(11)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2100,Female,25.777565,1.628205,107.378702,yes,yes,3.0,3.0,Sometimes,no,2.506631,no,0.025787,0.484165,Sometimes,Public_Transportation,Obesity_Type_III
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [114]:
obesityDataSet.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
868,Female,21.837058,1.558045,63.597633,no,yes,2.53915,1.590982,Sometimes,no,1.977801,no,1.264616,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [115]:
obesityDataSet.sample(5)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1081,Male,17.441593,1.700000,83.414072,yes,no,2.061384,2.579291,Sometimes,no,1.909253,no,1.000000,0.962468,Sometimes,Public_Transportation,Overweight_Level_II
352,Female,17.000000,1.600000,53.000000,no,yes,1.000000,3.000000,Sometimes,no,1.000000,no,2.000000,2.000000,Sometimes,Walking,Normal_Weight
1524,Male,25.498751,1.885543,121.253083,yes,yes,2.408561,3.000000,Sometimes,no,2.851904,no,1.320065,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
863,Female,30.613586,1.645511,69.168978,yes,yes,2.000466,3.000000,Sometimes,no,1.131448,no,0.061366,0.000000,Sometimes,Automobile,Overweight_Level_I
613,Female,19.376997,1.600264,45.000000,no,no,3.000000,3.000000,Frequently,no,2.949419,yes,1.295697,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [116]:
obesityDataSet.sample(11, random_state=11)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
22,Female,22.000000,1.650000,60.000000,yes,yes,3.000000,3.000000,Sometimes,no,2.000000,no,1.000000,0.000000,Sometimes,Automobile,Normal_Weight
1405,Male,23.324710,1.769484,96.078462,yes,yes,2.000000,3.000000,Sometimes,no,3.000000,no,3.000000,2.000000,no,Public_Transportation,Obesity_Type_I
932,Male,22.828435,1.710415,75.142858,yes,yes,2.786008,3.000000,Sometimes,no,2.526193,no,0.925118,2.000000,Sometimes,Public_Transportation,Overweight_Level_I
501,Female,21.853826,1.755643,137.796884,yes,yes,3.000000,3.000000,Sometimes,no,2.184707,no,1.978631,0.838957,Sometimes,Public_Transportation,Obesity_Type_III
1097,Female,34.044229,1.665807,77.098973,yes,yes,2.976975,1.346987,Sometimes,no,1.868349,no,0.702538,0.879333,no,Automobile,Overweight_Level_II
1197,Male,33.151905,1.685127,83.986895,yes,yes,2.000000,2.473911,Sometimes,no,2.452789,no,0.932792,0.000000,no,Automobile,Overweight_Level_II
896,Male,21.008290,1.621412,70.000000,no,yes,2.000000,1.000000,no,no,2.795651,no,0.808730,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1256,Male,18.000000,1.791174,108.960600,yes,yes,2.000000,1.086870,Sometimes,no,2.279124,no,1.000000,1.609773,no,Public_Transportation,Obesity_Type_I
819,Male,23.170309,1.707557,75.306702,yes,yes,2.303367,3.042774,Sometimes,no,1.277636,no,0.944982,0.366126,Sometimes,Public_Transportation,Overweight_Level_I
1522,Male,28.363149,1.793476,112.725005,yes,yes,1.991240,3.000000,Sometimes,no,2.000000,no,0.000000,0.292956,Sometimes,Public_Transportation,Obesity_Type_II
1365,Female,18.011903,1.650000,84.210535,yes,yes,2.859160,3.000000,Sometimes,no,1.000000,no,1.020525,0.786066,no,Public_Transportation,Obesity_Type_I

In [117]:
obesityDataSet.sample(11 , random_state=10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2054,Female,21.008297,1.723587,131.929712,yes,yes,3.000000,3.000000,Sometimes,no,1.683448,no,1.645532,0.858059,Sometimes,Public_Transportation,Obesity_Type_III
1152,Male,22.988004,1.808270,91.363293,yes,yes,1.963965,1.836226,Sometimes,no,1.855370,no,0.000000,1.667745,Sometimes,Public_Transportation,Overweight_Level_II
1883,Female,26.000000,1.631332,111.829957,yes,yes,3.000000,3.000000,Sometimes,no,2.559750,no,0.000000,0.237307,Sometimes,Public_Transportation,Obesity_Type_III
248,Male,21.000000,1.720000,72.000000,yes,yes,3.000000,3.000000,Always,no,3.000000,yes,3.000000,0.000000,Sometimes,Automobile,Normal_Weight
375,Male,41.000000,1.800000,92.000000,yes,yes,2.000000,1.000000,Frequently,no,3.000000,no,1.000000,0.000000,Sometimes,Automobile,Overweight_Level_II
589,Female,19.948140,1.530884,39.371523,no,yes,1.522001,3.000000,Sometimes,no,1.981260,no,2.306844,0.720454,Sometimes,Public_Transportation,Insufficient_Weight
1373,Male,26.032416,1.824432,105.131956,yes,yes,3.000000,3.000000,Sometimes,no,2.110611,no,1.890907,1.584830,Sometimes,Public_Transportation,Obesity_Type_I
370,Male,19.000000,1.800000,60.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
145,Male,21.000000,1.620000,70.000000,no,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1703,Male,22.580038,1.849507,121.560938,yes,yes,3.000000,2.272801,Sometimes,no,1.560064,no,0.796770,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
1455,Female,18.000000,1.692242,90.019501,yes,yes,2.642744,3.000000,Sometimes,no,1.904054,no,1.645654,0.363549,Sometimes,Public_Transportation,Obesity_Type_I

In [118]:
obesityDataSet.sample(3 , random_state=299)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1133,Male,34.098174,1.841151,91.798103,yes,yes,2.0,2.997414,Sometimes,no,1.259454,no,0.935217,0.997600,Sometimes,Automobile,Overweight_Level_II
839,Male,19.789291,1.820643,85.000000,yes,yes,3.0,3.000000,Sometimes,no,2.759246,no,1.763277,0.453314,Sometimes,Public_Transportation,Overweight_Level_I
657,Female,19.052833,1.546551,42.069992,no,yes,3.0,1.735493,Sometimes,no,2.318736,no,1.193486,0.745680,no,Public_Transportation,Insufficient_Weight

In [119]:
obesityDataSet.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [120]:
obesityDataSet.columns.to_list()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [121]:
obesityDataSet.index

RangeIndex(start=0, stop=2111, step=1)

In [122]:
# list(obesityDataSet.index)

In [123]:
# for getting no of rows n no of cols  
obesityDataSet.shape

(2111, 17)

In [124]:
obesityDataSet.size

35887

In [125]:
obesityDataSet.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [126]:
obesityDataSet.infer_objects()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [127]:
obesityDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [128]:
obesityDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [129]:
# accessing data  
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [130]:
obesityDataSet.loc[1:6,['Age','SCC','Height','Weight']]

    Age  SCC  Height  Weight
1  21.0  yes    1.52    56.0
2  23.0   no    1.80    77.0
3  27.0   no    1.80    87.0
4  22.0   no    1.78    89.8
5  29.0   no    1.62    53.0
6  23.0   no    1.50    55.0

In [131]:
obesityDataSet.loc[0:11]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II

In [132]:
obesityDataSet.loc[: , ['Age',"Height" , 'Weight']]

            Age    Height      Weight
0     21.000000  1.620000   64.000000
1     21.000000  1.520000   56.000000
2     23.000000  1.800000   77.000000
3     27.000000  1.800000   87.000000
4     22.000000  1.780000   89.800000
...         ...       ...         ...
2106  20.976842  1.710730  131.408528
2107  21.982942  1.748584  133.742943
2108  22.524036  1.752206  133.689352
2109  24.361936  1.739450  133.346641
2110  23.664709  1.738836  133.472641

[2111 rows x 3 columns]

In [133]:
obesityDataSet.loc[2000:2006 , 'Age':'Weight' ]

            Age    Height      Weight
2000  18.976968  1.759091  133.903612
2001  20.924956  1.752531  133.618706
2002  21.282530  1.761773  133.903469
2003  26.000000  1.633195  111.883747
2004  26.000000  1.633945  111.930700
2005  26.000000  1.641601  111.830924
2006  26.000000  1.641132  111.841706

In [134]:
obesityDataSet.head(3)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight

In [135]:
obesityDataSet.iloc[2]

Gender                             Male
Age                                23.0
Height                              1.8
Weight                             77.0
family_history                      yes
FAVC                                 no
FCVC                                2.0
NCP                                 3.0
CAEC                          Sometimes
SMOKE                                no
CH2O                                2.0
SCC                                  no
FAF                                 2.0
TUE                                 1.0
CALC                         Frequently
MTRANS            Public_Transportation
Obesity                   Normal_Weight
Name: 2, dtype: object

In [136]:
obesityDataSet.iloc[0:4 , 1]

0    21.0
1    21.0
2    23.0
3    27.0
Name: Age, dtype: float64

In [137]:
obesityDataSet.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [138]:
obesityDataSet.iloc[0:5 , 0:4]

   Gender   Age  Height  Weight
0  Female  21.0    1.62    64.0
1  Female  21.0    1.52    56.0
2    Male  23.0    1.80    77.0
3    Male  27.0    1.80    87.0
4    Male  22.0    1.78    89.8

In [139]:
# at n iat these are also using for accessing data 
obesityDataSet.at[1,'Gender']

'Female'

In [140]:
obesityDataSet.iat[1,3]

np.float64(56.0)

In [141]:
obesityDataSet[['Age','Height']]

            Age    Height
0     21.000000  1.620000
1     21.000000  1.520000
2     23.000000  1.800000
3     27.000000  1.800000
4     22.000000  1.780000
...         ...       ...
2106  20.976842  1.710730
2107  21.982942  1.748584
2108  22.524036  1.752206
2109  24.361936  1.739450
2110  23.664709  1.738836

[2111 rows x 2 columns]

In [142]:
obesityDataSet.loc[(obesityDataSet['Height']>1.8) & (obesityDataSet['Gender'] == 'Male')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
10,Male,26.000000,1.850000,105.000000,yes,yes,3.000000,3.000000,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation,Obesity_Type_I
16,Male,27.000000,1.930000,102.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
24,Male,21.000000,1.850000,68.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
44,Male,21.000000,1.810000,80.000000,no,no,1.000000,3.000000,no,no,2.000000,no,2.000000,0.000000,no,Public_Transportation,Normal_Weight
46,Male,21.000000,1.820000,72.000000,yes,yes,1.000000,3.000000,Frequently,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1784,Male,23.319635,1.846290,121.248035,yes,yes,3.000000,2.695396,Sometimes,no,2.628816,no,0.975384,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
1787,Male,24.511445,1.852664,121.310257,yes,yes,2.906269,2.894142,Sometimes,no,2.435489,no,1.266739,0.362160,Sometimes,Public_Transportation,Obesity_Type_II
1788,Male,24.053310,1.872561,121.471077,yes,yes,2.808027,2.683061,Sometimes,no,2.640483,no,1.280191,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
1789,Male,22.906886,1.819550,120.775439,yes,yes,2.636719,2.806341,Sometimes,no,1.967591,no,1.525384,0.315595,Sometimes,Public_Transportation,Obesity_Type_II
1790,Male,23.147644,1.815514,120.337664,yes,yes,2.996717,2.791366,Sometimes,no,2.626309,no,1.194898,0.034897,Sometimes,Public_Transportation,Obesity_Type_II

In [143]:
obesityDataSet.loc[obesityDataSet['Height']>1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [149]:
# regex 

obesityDataSet.loc[obesityDataSet['Obesity'].str.contains('Normal_Weight')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [150]:
# start with 
obesityDataSet[obesityDataSet['CAEC'].str.startswith('A')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
54,Female,22.0,1.60,55.0,no,no,3.0,4.0,Always,no,3.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
66,Male,23.0,1.80,90.0,yes,yes,1.0,3.0,Always,no,2.0,no,0.0,2.0,Frequently,Public_Transportation,Overweight_Level_II
67,Male,23.0,1.65,95.0,yes,yes,2.0,3.0,Always,no,2.0,no,0.0,1.0,Frequently,Automobile,Obesity_Type_I
70,Female,23.0,1.65,80.0,yes,yes,2.0,3.0,Always,no,2.0,no,0.0,2.0,no,Public_Transportation,Overweight_Level_II
82,Male,23.0,1.67,85.5,yes,yes,2.0,3.0,Always,no,2.0,no,0.0,1.0,no,Public_Transportation,Obesity_Type_I
90,Female,25.0,1.63,93.0,no,no,3.0,4.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Obesity_Type_II
91,Female,20.0,1.61,64.0,yes,no,3.0,3.0,Always,no,2.0,yes,0.0,1.0,Frequently,Public_Transportation,Normal_Weight
93,Female,20.0,1.60,57.0,no,no,3.0,3.0,Always,no,2.0,no,1.0,0.0,no,Walking,Normal_Weight
107,Male,22.0,1.88,90.0,yes,yes,2.0,3.0,Always,no,1.0,no,0.0,1.0,Sometimes,Automobile,Overweight_Level_I
125,Male,18.0,1.75,80.0,yes,yes,2.0,3.0,Always,no,2.0,no,0.0,0.0,Frequently,Public_Transportation,Overweight_Level_I
133,Female,61.0,1.65,66.0,no,yes,3.0,3.0,Always,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
138,Male,31.0,1.76,75.0,yes,no,3.0,3.0,Always,no,3.0,yes,3.0,0.0,no,Bike,Normal_Weight
141,Male,25.0,1.87,66.0,no,yes,3.0,3.0,Always,no,2.0,no,2.0,0.0,Frequently,Public_Transportation,Normal_Weight
148,Female,27.0,1.60,61.0,no,yes,3.0,3.0,Always,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
152,Female,38.0,1.50,60.0,yes,yes,2.0,1.0,Always,yes,2.0,no,0.0,0.0,Sometimes,Automobile,Overweight_Level_I
162,Female,21.0,1.63,60.0,yes,yes,3.0,3.0,Always,yes,2.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
166,Female,29.0,1.74,72.0,yes,no,3.0,3.0,Always,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
201,Female,41.0,1.54,80.0,yes,yes,2.0,3.0,Always,no,1.0,no,0.0,0.0,Sometimes,Automobile,Obesity_Type_I
222,Female,21.0,1.72,66.5,yes,yes,3.0,4.0,Always,no,3.0,no,0.0,2.0,no,Public_Transportation,Normal_Weight
236,Female,21.0,1.66,59.0,no,yes,1.0,3.0,Always,no,2.0,yes,3.0,0.0,no,Automobile,Normal_Weight
242,Female,20.0,1.63,64.0,yes,yes,1.0,3.0,Always,no,2.0,no,0.0,2.0,no,Automobile,Normal_Weight
248,Male,21.0,1.72,72.0,yes,yes,3.0,3.0,Always,no,3.0,yes,3.0,0.0,Sometimes,Automobile,Normal_Weight
268,Male,17.0,1.67,60.0,no,no,2.0,4.0,Always,no,2.0,no,0.0,2.0,no,Public_Transportation,Normal_Weight
277,Male,21.0,1.82,67.0,no,yes,2.0,4.0,Always,yes,3.0,no,3.0,2.0,Sometimes,Walking,Normal_Weight
285,Male,21.0,1.79,105.0,yes,yes,2.0,3.0,Always,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Obesity_Type_I
302,Male,16.0,1.84,45.0,yes,yes,3.0,3.0,Always,no,3.0,no,3.0,2.0,Sometimes,Walking,Insufficient_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
306,Female,24.0,1.56,60.0,yes,yes,1.0,3.0,Always,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
308,Male,20.0,1.80,75.0,no,yes,3.0,4.0,Always,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
311,Male,17.0,1.72,62.0,no,yes,2.0,3.0,Always,no,2.0,no,3.0,1.0,no,Public_Transportation,Normal_Weight
313,Male,17.0,1.66,56.0,yes,yes,1.0,3.0,Always,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
315,Male,26.0,1.70,72.0,no,yes,2.0,3.0,Always,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
320,Male,21.0,1.67,67.0,yes,yes,3.0,1.0,Always,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
333,Female,23.0,1.70,56.0,no,no,3.0,4.0,Always,no,3.0,yes,3.0,0.0,no,Automobile,Normal_Weight
345,Male,17.0,1.70,55.0,no,yes,3.0,3.0,Always,no,2.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
349,Male,20.0,1.98,125.0,yes,yes,2.0,3.0,Always,no,3.0,no,1.0,1.0,Sometimes,Public_Transportation,Obesity_Type_I
351,Female,26.0,1.65,60.0,no,no,3.0,4.0,Always,no,2.0,no,2.0,0.0,no,Walking,Normal_Weight
364,Male,24.0,1.84,86.0,yes,yes,2.0,1.0,Always,no,2.0,no,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_I
371,Male,17.0,1.62,69.0,yes,yes,3.0,1.0,Always,no,2.0,yes,1.0,2.0,Sometimes,Public_Transportation,Overweight_Level_I
390,Male,23.0,1.71,50.0,yes,yes,2.0,3.0,Always,no,3.0,no,0.0,2.0,no,Public_Transportation,Insufficient_Weight
398,Male,21.0,1.85,125.0,yes,yes,3.0,1.0,Always,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Obesity_Type_II
401,Male,26.0,1.83,82.0,no,yes,2.0,3.0,Always,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
414,Male,33.0,1.83,113.0,yes,yes,2.0,1.0,Always,no,2.0,no,1.0,2.0,Frequently,Automobile,Obesity_Type_I
425,Female,19.0,1.61,53.8,yes,yes,2.0,3.0,Always,no,2.0,no,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
437,Female,18.0,1.60,56.0,yes,yes,2.0,1.0,Always,no,2.0,no,1.0,0.0,Sometimes,Walking,Normal_Weight
458,Male,19.0,1.69,60.0,no,yes,2.0,3.0,Always,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
462,Male,27.0,1.72,88.0,yes,yes,2.0,1.0,Always,no,2.0,no,0.0,0.0,Sometimes,Automobile,Overweight_Level_II
464,Male,18.0,1.93,86.0,no,no,3.0,4.0,Always,no,2.0,no,2.0,0.0,Sometimes,Walking,Normal_Weight
485,Male,21.0,1.80,73.0,yes,yes,1.0,3.0,Always,no,2.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight